body {
	background-color: snow;
	font: black;
	text-align: center;
	padding-top: -2px;
}


img {
   width: 170px;
   height: 170px;
   float: center;
   padding-top: 4px;
   border-radius: 110px;
}

.line {
	width: 60%;
	background-color: grey;
	height: 0.7px;
	float: center;
}

h1 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 45px;
	float: center;
	padding-bottom: 0px;
}

h2 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 28px;
}

p {
    font-size: 16px;
    font-family: 'Tauri', sans-serif;
}

a {
	text-decoration: none;
}

#leftcolumn {
	padding-top: 2%;
	padding-left: 15%;
	float: left;
	width: 30%;
}

#rightcolumn {
	padding-top: 2%;
	padding-right: 15%;
	float: right;
	width: 30%;
}

#bitmaker {
	color: saddlebrown;
}



