

body {
  margin: 0px;
}

header {
  height: 8px;
  background: #BCF1ED;
  border: 1px solid #CCC;
  position: fixed;
  width: 100%
}

h1 {
	text-align: center;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 35px;
  color: black;
  padding-top: 24px;
  padding-bottom: -1px;
}

#me {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70px;
	height: 70px;
	border-radius: 100px;
	padding-bottom: 10px;
}


#buttons {
	display: block;
	text-align: center;
}

#mail {
	padding: 5px;
}

#twitter {
	padding: 5px;
}

#github {
	padding: 5px;
}

#instagram {
	padding: 5px;
}

#divider {
	/*margin-left: 20%;*/
	/*margin-right: 20%*/
	position: relative;
	margin-left: 28%;
}

#line {
	height: 2.5px;
	background: #BCF1ED;
  width: 60%;
}



